<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p></p>
  <div>
    <ae-icon5-component name="heart" aesize="ae16" color="maroon"></ae-icon5-component>
    <ae-icon5-component name="ice-cream" aesize="ae16" color="red"></ae-icon5-component>
    <ae-icon5-component name="sunny" aesize="ae16" color="purple"></ae-icon5-component>
    <ae-icon5-component name="moon" aesize="ae16" color="fuchsia"></ae-icon5-component>
  </div>
  <div>
    <ae-icon5-component name="star" aesize="ae24" color="green"></ae-icon5-component>
    <ae-icon5-component name="planet" aesize="ae24" color="lime"></ae-icon5-component>
    <ae-icon5-component name="globe" aesize="ae24" color="olive"></ae-icon5-component>
    <ae-icon5-component name="rocket" aesize="ae24" color="yellow"></ae-icon5-component>
  </div>
  <div>
    <ae-icon5-component name="snow" aesize="ae32" color="navy"></ae-icon5-component>
    <ae-icon5-component name="rainy" aesize="ae32" color="blue"></ae-icon5-component>
    <ae-icon5-component name="umbrella" aesize="ae32" color="teal"></ae-icon5-component>
    <ae-icon5-component name="rose" aesize="ae32" color="aqua"></ae-icon5-component>
  </div>
  <div>
    <ae-icon5-component name="construct" aesize="ae40" color="black"></ae-icon5-component>
    <ae-icon5-component name="finger-print" aesize="ae40" color="silver"></ae-icon5-component>
    <ae-icon5-component name="flask" aesize="ae40" color="gray"></ae-icon5-component>
    <ae-icon5-component name="flower" aesize="ae40" color="white"></ae-icon5-component>
  </div>
</ion-content>